/*
     __ ______  _   _____________   ______
    / //_/ __ \/ | / /_  __/  _/ | / /  _/
   / ,< / / / /  |/ / / /  / //  |/ // /
  / /| / /_/ / /|  / / / _/ // /|  // /
 /_/ |_\____/_/ |_/ /_/ /___/_/ |_/___/
                                 paris
 */


@font-face {
    font-family: inconsolata;
    src: url(../font/Inconsolata.otf);
}


body{

    margin: 0;
    background: black;
    font-family: 'Droid Sans Mono' ;
    font-size:12px;
    /*background-image: url(../data/giphy.gif);*/

}

.draggable{

    position: absolute;
    -webkit-transform: translate(0px, 0px);
    text-align: center;
}

.main {
    width:400px;
    left:50%;
    margin-left: -215px;
    top:50%;
    height:150px;
    margin-top: -88px;
    padding:15px;
    color: white;
    border: 1px dotted white;
    box-shadow: 5px 5px 0px white;
}
/*CONTACT*/

.contact, .works, .about{
    position: relative;
    display: inline-block;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    top:10px;
    font-size:10px;
    padding:10px;
    text-align: left;
    box-shadow: 5px 5px 0px white;
    border: 1px dotted white;
}

.contact{
    margin-left: 5px;
}

.works{
    display: block;
    margin-top: 10px;
    width: 106px;
}

.works_sup{
    display: none;
    height: 100%;
    width: 100%;
}

.contact_sup{
    display: none;
}

.contact a:visited{color:inherit}


.about_sup{
    display: none;
}

.about:hover, .works:hover, .contact:hover{

    box-shadow: 7px 7px 0px white;
    -webkit-transform: translate(-2px, -2px);
    -webkit-transition: 0.3s;-moz-transition: 0.3s;-ms-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;
}

.draggable>p{
    opacity: 1;
}


canvas{
    position: absolute;
    width: 600px;
    left:50%;
    margin-left: -300px;
    top:50%;
    margin-top: -300px;
}

.name_header{
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color:white;
}

.name, .name_header{
    font-size:20px;
}
.name_header{
    font-size:17px;
}

.name span, .name_header span{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.presentation{
    margin-top: 40px;
}

.typed-cursor{
    opacity: 0;
}