/*
     __ ______  _   _____________   ______
    / //_/ __ \/ | / /_  __/  _/ | / /  _/
   / ,< / / / /  |/ / / /  / //  |/ // /
  / /| / /_/ / /|  / / / _/ // /|  // /
 /_/ |_\____/_/ |_/ /_/ /___/_/ |_/___/
                                 paris
 */


html{
    height: 100%;
}
@font-face {
    font-family: anka;
    src: url(../font/AnkaCoder-r.ttf);
    font-style: normal;
}
@font-face {
    font-family: anka;
    src: url(../font/AnkaCoder-i.ttf);
    font-style: italic;
}
body{
    margin: 0;
    background: black;
    color: white !important;
    font-size:10px;
    /*padding: 10px;*/
    min-height: 100%;
    font-family: 'anka' !important;

}


body>div{
    display: none;
}


header{
    min-height:125px!important;
    position: fixed!important;
    z-index: 2;
    padding:10px;
    background-color: #000000;
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );



}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.logo , .logo2{
    font-size:70px;
    line-height: 60px;
    letter-spacing: -2px;
    font-family: Arial Black;
    position:fixed
}

.logo2{
    top:70px;
}

.title-project{
    font-size: 50px;
    position: fixed;
    z-index: 2;
    height: 39px;
    line-height: 45px;
    margin-top: -37px;
    background-color: #ffffff;
    color: black;
}

.project-content{
    margin-top: 40px;
}
.project-content img{
    width: 100%;
}

.project-content-text{
    position:fixed;
}
.project-content-text p{
    margin-top:35px;
}

.details{
    top: 130px;
    left:29px;
    position:fixed;
}

.fb a{
    font-size: 15px;
    border-bottom: 1px dotted white;
}
a{
    color:white;
}

.details-xs-more a{
    color:black;
    border-bottom: 1px dotted black;
}
 a:active,a:hover , a:focus {
    text-decoration: none;
     color:white;
}
.details-xs-more a:active,.details-xs-more a:hover , .details-xs-more a:focus {
    text-decoration: none;
     color:black;
}


.projects{
    margin-top: 127px;
}


.project-thumbnail{
    margin-bottom: 80px;
}

canvas{
    position: absolute;
    margin: auto;
}

.title-thumbnail{
    position: absolute;
    bottom: 15px;
    left:30px;
    background-color: white;
    color:black;
}

.details-xs-more{
    border: 1px dotted white;
    background-color: white;
    color:black;
    display: none;
}


@media (max-width: 991px) {

    .details-xs{
        right:25px;
        position:absolute;
        text-align: right;
        cursor: pointer;
    }

    .details-xs but{
        line-height: 24px;
    }

}
@media (min-width: 992px) {

    .project-content-text{
        width:21%;
        padding-right: 0;
    }

}




@media (max-width: 767px) {
    .logo , .logo2{
        font-size:30px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .logo2{
        top:36px;
    }
    header{
        min-height:70px!important;
    }
    .projects{
        margin-top: 70px;
    }
    .project-content-text{
        position:relative;
    }
    .title-project{
        font-size: 25px;
        line-height: 24px;
        height: 21px;
        margin-top: 5px;
    }

}